<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
            android:authorities="${applicationId}.androidx-startup"
            android:name="androidx.startup.InitializationProvider"
            android:exported="false">
            <meta-data
                android:name="com.example.startupinit.MyInitializer"
                android:value="androidx.startup"/>
        </provider>
    </application>
</manifest>